<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title> Home </title>
</head>

<body>
    <div class="container">
        <h1>Counter</h1>
        <p> page viewed : {{number}} times</p>
        <form action="/" , method='POST'>
            <input type="Submit" name="Submit" value="Submit">
        </form>
        <form action="/show">
            <input type="submit" name="Reset" value="Reset">
        </form>

    </div>
</body>

</html>